// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url(https://fonts.googleapis.com/css?family=Iceland);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

.cardStyle {
  /*padding: 35px;*/
  /*height: 100px;*/
}

.cardStyle h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #00823f !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;

body {
  background-color: #ecf0f1;
}

.card-md .item-md.item-block .item-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

[col-xl-2] {
  padding: 3px;
}

.card-md {
  margin: 0;
  border-radius: 8px;
  width: 100%;
  font-size: 1.4rem;
}

.customized-image img {
  height: auto!important;
}

.customized-image {
  margin: 0 10px 0 -10px!important !important;
  padding: 0;
  min-height: auto!important;
}

.hide {
  display: none;
}

#barcode {
  width: 100%;
  max-width: 500px;
  height: 200px;
}

.cardStyle h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 160px;
}

h3.SuperTitle {
    color: #fff;
    font-size: 34px;
    padding-top: 40px;
    padding-bottom: 40px;
}
